**/.env*
# Ignore environment variable files
.env.local
.env 
data/final_80k.csv

# Ignore Python cache files
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/ 

# Ignore virtual environment directories
venv/
.venv/
# Ignore Python bytecode files
*.pyc       
*.pyo
*.pyd   
# Ignore log files
*.log   
# Ignore coverage reports
*.coverage
# Ignore test output files
test_output.txt
# Ignore temporary files
*.tmp

cache/

output_data/

/data/live_reports_for_regen
/regenerated_reports

data/Manuav Company DE 5-30 B2B.csv
data/Manuav Company DE 5-30 B2B_comma.csv
data/Apollo Shopware Partner Germany 1(Sheet1).csv
